<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="mongoConnectionString" value="" />
    <add key="mongoDatabase" value="" />
    <add key="memcachedAddress" value="" />
    <add key="memcachedPort" value="" />
    <add key="memcachedZone" value="" />
    <add key="memcachedUsername" value="" />
    <add key="memcachedPassword" value="" />
    <add key="mongov2databaseName" value="" />
    <add key="mongov2databaseUser" value="" />
    <add key="mongov2databasePassword" valu e="" />
    <add key="mongov2databaseHost" value=""/>
    <add key="mongov2databasePort" value="" />
  </appSettings>
</configuration>